@model SimpleX.Model.clienteEndereco


@{
    //ViewBag.Title = "Cadastro de Clientes";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Cadastro de endereço</h4>
<div class="tab-content">
    <div class="tab-pane active" id="horizontal-form">

        @using (Html.BeginForm("SalvarClienteEndereco", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.HiddenFor(c => c.ID, new { @class = "form-control1" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    @Html.HiddenFor(c => c.empresaID, new { @class = "form-control1" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    @Html.HiddenFor(c => c.clienteID, new { @class = "form-control1" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Logradouro</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(c => c.logradouro, new { @class = "form-control1", placeholder = "Logradouro" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Número</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(c => c.numero, new { @class = "form-control1", placeholder = "Número" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Complemento</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(c => c.complemento, new { @class = "form-control1", placeholder = "Complemento" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Bairro</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.bairro, new { @class = "form-control1", placeholder = "Bairro" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">CEP</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.CEP, new { @class = "form-control1", placeholder = "CEP" })
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Cidade</label>
                <div class="col-sm-3">
                    @Html.DropDownList("cidadeID", (List<SelectListItem>)ViewBag.cidades, new { @class = "form-control1", placeholder = "Cidade", id = "cidadeID" })
                </div>
            </div>


            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Estado</label>
                <div class="col-sm-3">
                    @Html.DropDownList("estadoID", (List<SelectListItem>)ViewBag.estados, new { @class = "form-control1", placeholder = "Estado", id = "estadoID" })
                </div>
            </div>



            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Pais</label>
                <div class="col-sm-3">
                    @Html.DropDownList("paisID", (List<SelectListItem>)ViewBag.paises, new { @class = "form-control1", placeholder = "Pais", id = "paisID" })
                </div>
            </div>


            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="submit" class="btn-primary btn" title="Salvar" name="Salvar" value="Salvar">
                        <button class="btn-default btn">Cancelar</button>
                        <button class="btn-inverse btn">Limpar Dados</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


